TestWilliansMelendez/Test/Connected Services/srWebService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NCapas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NCapas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCORRESPONSALES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CORRESPONSALES" nillable="true" type="tns:CORRESPONSALES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCORRESPONSALES" nillable="true" type="tns:ArrayOfCORRESPONSALES" />
  <xs:complexType name="CORRESPONSALES">
    <xs:sequence>
      <xs:element minOccurs="0" name="COR_CORRESPONSAL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="COR_NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CORRESPONSALES" nillable="true" type="tns:CORRESPONSALES" />
  <xs:complexType name="ArrayOfOFICINAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OFICINAS" nillable="true" type="tns:OFICINAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOFICINAS" nillable="true" type="tns:ArrayOfOFICINAS" />
  <xs:complexType name="OFICINAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="OFI_CORRESPONSAL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="OFI_NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OFICINAS" nillable="true" type="tns:OFICINAS" />
</xs:schema>